div#surveyContent {
	width: 80%;
	min-width: 600px;

	margin: 10px auto;
	padding: 10px;
}

p#surveyNav {
	border-top: 1px solid black;
	padding-top: 10px;
	font-size: 1.5em;
	text-align: right;
}

ul#taskPart {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	text-align: center;
}

ul#taskPart li {
	padding: 5px;
	margin: 2px 2px;
	width: 30px;
	height: 30px;
	text-align: center;
	display: inline-block;
	line-height: 30px;

	background-color: #C1B3F5;
	border-color: #633BF5;
}

ul#taskPart li.selected {
	background-color: #7045FF;
}
