#loginForm {
	width: 60%;
	min-width: 400px;
	max-width: 1000px;
	padding: 30px;
	margin: 30px auto;
	border: 1px solid #ddd;
}

#loginForm div label {
	float: left;
	width: 100px;
}

#loginForm div div.fill {
	margin: 10px 0 10px 120px;
}

#loginForm div div.fill input {
	width: 100%;
}
