/**
 * QUT Survey Platform
 * Template: Tony Chau
 * Date: 2015/10/03
 */

/**
 * Default HTML Styles overrides
 */
html,body {
	margin: 0;
	padding: 0;

	/* Default font size, everything will be relative to this. */
	font-family: Calibri, Helvetica, Arial, sans-serif;
	font-size: 18px;
}

p {
}

a {
	color: rgb(0, 85, 160);
	text-decoration: none;
}

h1 {
	font-size: 1.6em;

	margin: 0;
	margin-bottom: 0.66em;
	padding: 0;
}

h2 {
	font-size: 1.3em;

	margin: 0;
	margin-bottom: 0.66em;
	padding: 0;
}

input {
	padding: 3px 5px;
	border: 1px solid #ddd;
	background-color: white;

	font-family: Calibri, Helvetica, Arial, sans-serif;
	font-size: 1em;
}

input:focus {
	border-color: #333;
	background-color: #f9f9f9;
}

/**
 * Generic Styles
 */
.fullWidth {
	width: 100%;
}

.halfWidth {
	width: 49%;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.floatClear {
	clear: both;
}

.noMargin {
	margin: 0;
}

.smallerFont {
	font-size: 0.8em;
}

/**
 * Template Styles
 */
#header {
	position: relative;

	padding: 20px;
	height: 52px;

	color: white;
	background-color: rgb(0, 71, 127);
}

#header img {
	position: absolute;
}

#header h1 {
	margin: 0;
	padding: 0;

	line-height: 52px;
	text-align: center;
}

#header #loginout {
	float: right;

	line-height: 52px;
}

#header #loginout a {
	padding: 10px 20px;
	color: white;
}

#content {
	width: 80%;
	margin: 10px auto;
}
